{% extends "base.html" %} {% block title %} DB Test Page 1 {% endblock %}
{% block content %}
<!-- good web page for HTML colours: https://www.computerhope.com/htmcolor.htm  -->
<body style="background-color:LightGray;">

{% load static %}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/dice_db_page_1_utils.js' %}"></script>

<h1>DB Test</h1>
<p>This is the DB test page - examples of GET, POST, PUT, PATCH, DELETE calls and DB queries</p>

<script>
function ToggleShowTemplate() {
    current_text =$('#ShowTemplateId').text();
    if (current_text == "Show Template") {
        $('#dice_list_by_template_Id').show();
        $('#ShowTemplateId').text("Hide Template");
    }
    else {
        $('#dice_list_by_template_Id').hide();
        $('#ShowTemplateId').text("Show Template");
    }
}
</script>

<div id="dice_list_by_template_Id" >
<!-- example loading dice list Django template code -->
<h5>Load Dice objects with Django template code</h5>
<ul>
    {% for die in Dice %}
    <li>
        {{ die.name }} (id = {{ die.id }})
    </li>
    {% endfor %}
</ul>
</div>

<span>Result:</span>
<span id="RESTResponseResult" style="width: 1em"></span>
<ul id="RESTResponse">
</ul>

<!-- example loading dice list with a GET call -->
<h5>Load Dice objects  with GET HTTP call</h5>
<!--<button onclick="GetDiceList-Old()" style="margin-left: 1em">Dice List</button>-->
<button onclick="GetDiceList()" style="margin-left: 1em">Get Dice List</button>
<button id="ShowTemplateId" onclick="ToggleShowTemplate()" style="margin-left: 1em">Show Template</button>
<br /><br />
<ul id="diceList_id"></ul>

<!-- Load Dice Info object with a GET call -->
<h5>Load Dice Info with GET HTTP call</h5>
<label for="dice_id" style="margin-left: 1em">Id:</label>
<input type="number" id="dice_id" name="dice_id" value="35" min = "0" max = "90" style="width: 3em">
<!--<button onclick="GetDiceInfo()" style="margin-left: 1em">Dice Info</button>-->
<button onclick="DiceAPI('GET')" style="margin-left: 1em">Get with param</button>
<button onclick="GetDiceIdFromURL()" style="margin-left: 1em">Get with URL</button>
<br /><br />
<!--<div id="diceInfoId" style="margin-left: 1em" hidden>-->
<!--    <h6 id="diceNameId">Dice Info:</h6>-->
<!--    <ul id="diceFacesId">-->
<!--    </ul>-->
<!--</div>-->


{% csrf_token %}

<!-- Save Dice Info object with a POST call -->
<h5>Save Dice POST or PUT HTTP call</h5>
<label for="dice_name" style="margin-left: 1em">Name:</label>
<input type="text" id="dice_name" name="default_face_id" value="name1" style="width: 5em">
<label for="default_face" style="margin-left: 1em">Face:</label>
<input type="text" id="default_face" name="default_face_id" value="face1.png" style="width: 6em">
<button onclick="DiceAPI('POST')" style="margin-left: 1em">Post</button>
<button onclick="DiceAPI('PUT')" style="margin-left: 1em">Put</button>
<label for="patch_dice_id" style="margin-left: 1em">Id:</label>
<input type="number" id="patch_dice_id" name="patch_dice_id_id" value="30" min = "1" max = "90" style="width: 3em">
<button onclick="DiceAPI('PATCH')" style="margin-left: 1em">Patch</button>
<br /><br />

<!-- Delete Dice Info object with a DELETE call -->
<h5>Delete Dice Info with DELETE HTTP call</h5>
<label for="delete_dice_id" style="margin-left: 1em">Id:</label>
<input type="number" id="delete_dice_id" name="delete_dice_id_id" value="39" min = "1" max = "90" style="width: 3em">
<button onclick="DiceAPI('DELETE')" style="margin-left: 1em">Delete</button>

</body>
{% endblock %}
