{% extends "base.html" %} {% block title %} Rolling Page 2 {% endblock %}
{% block content %}
<!-- good web page for HTML colours: https://www.computerhope.com/htmcolor.htm  -->
<body style="background-color:CornflowerBlue;">
<br />
<h1>Rolling Test 3</h1>
<p>This is the Rolling Test 3 page - loading the dice images dynamically using REST calls with DB</p>

{% load static %}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/rolling_3_utils.js' %}"></script>

<!-- div for adding dice images dynamically from REST call to DB-->
<div id="dice_images_id" hidden>
</div>

<!-- div for adding dice sounds dynamically from REST call to DB-->
<div id="dice_sounds_id" hidden>
</div>

<p>Choose a Dice to roll:</p>

<!-- div for adding a button for each dice dynamically from REST call to DB-->
<div id="DiceListButtons">
</div>
<p style="margin-top: 1em">Rolling dice ID#: <span id="DiceNameToRoll">not yet selected</span></p>

<button onclick="RollDice()">Roll Dice</button>

<br />
<br />

<!-- canvas object to draw the rolling dice -->
<canvas id="canvas_1" width="500" height="100" style="border:2px solid #323232;">canvas tag not supported.</canvas>
<br />

<button onclick="Clear()" style="margin-top:1em;">Clear</button>

<!-- show the resulting roll value -->
<p style="margin-top:1em">Result:<span id="resultId" style="margin-left:1em"></span></p>

</body>
{% endblock %}
